/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 avr. 2015, 13:51:19
    Author     : bruno
*/

nav {
font-size:20px;
line-height:2em;
width:6em;
background-color:#3A3A19;
padding:1.22em;
padding-top:1.22em;
padding-bottom:2.7em;
border-radius:3.5em;
text-align:center;

}

article {
	background-color:#D7D7D7;
	color:#5f5f5f;
        margin:0.5em;
	border : solid 2px #B8B8AC;
	border-radius:1.4em;
        min-height:4.5em;
	}

article div{
        font-size:0.5em;
        line-height:1.2em;
	padding-left:1em;
	padding-right:1em;
        padding-top:1.7em;
        padding-bottom:0.5em;
	}


label {
	background-color:#527ACC;
	color:black;
	padding-left:0.5em;
	padding-right:0.5em;
	border : solid 3px #B8B8AC;
	border-radius:0.8em;
	}

label:hover {
	border-color : #DFDFDF;
	}

label#compteur {
	width:15em;
	}	
	
input[type="radio"] {
	display:none;
	
}
	
input[type="checkbox"] {
	display:none;
	
}
	
input[type="submit"] {
	display:none;
	
}
	
input[type="reset"] {
	display:none;
}	

input[type="radio"]:checked + label {
	background-color:#990000;
	
}
	
input[type="checkbox"]:checked + label {
	background-color:#009900;
	
}

input[type="reset"] + label {
    background-color:#bc0737;
	}

input[type="submit"] + label {
    line-height:3.5em;
	}
