
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 avr. 2015, 13:51:19
    Author     : bruno
*/

section#traces {
    // pour la prod visibility : hidden;
    // visibility : visible; 
    visibility : hidden; 
    // display : block;
    display : none;
    font-size : 0.8em;
    width : 40%;
    position : absolute;
    bottom : 5px;
    right: 5px;
    border : solid black 1px;
    
    
}





nav {
font-size:25px;
line-height:3.05em;
width:500px;
background-image:url(../img/Casa-Batllo.jpg);
background-position:right;
padding:0;
padding-top:0;
padding-bottom:0;
// border-radius:1.0em;
text-align:center;
min-height : 700px;
margin-left : auto;
margin-right : auto;

}

article {
	background-color:#FFF;
        opacity: 0.75;
	color:#5f5f5f;
        margin:2px;
        min-height:2em;
        width:45%;
	}

article div{
        font-size:0.5em;
        line-height:1.2em;
	padding-left:1em;
	padding-right:1em;
        padding-top:1.7em;
        padding-bottom:0.5em;
	}


label {
	// margin-left : 15px;
        // width : 440px;
        opacity: 0.75;
        background-color:#FFF;
	color:white;
	padding-left:0.5em;
	padding-right:440px;
        padding-top:0.8em;
        padding-bottom:0.8em;
	border : solid 3px #B8B8AC;
	// border-radius:0.8em;
	}

label.val {
        opacity: 0.7;
        // background-color:#527ACC;
	color:white;
	padding-left:0;
	padding-right:66px;
        padding-top:0.9em;
        padding-bottom:0.6em;
	border : solid 3px #B8B8AC;
	// border-radius:0.8em;
	}

label#chxA {
        background-image:url('../img/Lettre100_a.png');
        background-repeat: no-repeat;
        }

label#chxA {
        background-image:url('../img/Lettre100_a.png');
        background-repeat: no-repeat;
        }
label#chxB {
        background-image:url('../img/Lettre100_b.png');
        background-repeat: no-repeat;
        }
label#chxC {
        background-image:url('../img/Lettre100_c.png');
        background-repeat: no-repeat;
        }
label#chxD {
        background-image:url('../img/Lettre100_d.png');
        background-repeat: no-repeat;
        }
label#chxE {
        background-image:url('../img/Lettre100_e.png');
        background-repeat: no-repeat;
        }
label#chxF {
        background-image:url('../img/Lettre100_f.png');
        background-repeat: no-repeat;
        }
label#chxG {
        background-image:url('../img/Lettre100_g.png');
        background-repeat: no-repeat;
        }
label#chxH {
        background-image:url('../img/Lettre100_h.png');
        background-repeat: no-repeat;
        }
label#cancel {
        background-image:url('../img/cancel72.png');
        background-repeat: no-repeat;
	margin-right : 200px;
        }
label#valid {
        background-image:url('../img/invalid72.png');
        background-repeat: no-repeat;
        }
label:hover {
	border-color : #EFEFEF;
	}

label#compteur {
	width:15em;
	}	
	
input[type="radio"] {
	display:none;
	
}
	
input[type="checkbox"] {
	display:none;
	
}
	
input[type="submit"] {
	display:none;
	
}
	
input[type="reset"] {
	display:none;
}	

input[type="radio"]:checked + label {
        opacity: 0.95;
	// background-color:#990000;
	
}
	
input[type="checkbox"]:checked + label {
        opacity: 0.95;
	// background-color:#009900;
	
}

input[type="reset"] + label {
    //background-color:#bc0737;
	}

input[type="submit"] + label {
    //line-height:3.5em;
	}
