nav {
font-size:25pt;
line-height:3em;
width:12.5em;
background-color:#3A3A19;
padding:1.7em;
padding-top:2.7em;
padding-bottom:2.7em;
border-radius:4em;
text-align:center;

}



label {
	background-color:#527ACC;
	color:black;
	font-size:60px;
	padding-left:0.5em;
	padding-right:0.5em;
	border : solid 3px #B8B8AC;
	border-radius:0.8em;
	}

label#compteur {
	width:15em;
	}	
	
input[type="radio"] {
	display:none;
	
}
	
input[type="checkbox"] {
	display:none;
	
}
	
input[type="subit"] {
	display:none;
	
}
	
input[type="radio"]:checked + label {
	background-color:#990000;
	
}
	
input[type="checkbox"]:checked + label {
	background-color:#009900;
	
}

a:visited {

}

p {
	color:green;
	}

	
